body { 
    box-sizing: border-box;
    background-color: white;
 }


#image{
    height:auto;
    display:block;
    height:850px;
    max-width:100%;
    margin-top: 0;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 7vh;
}

#img-caption {
    font-size: 18px;
    font-family: Gill Sans;
    color: rgb(0, 0, 0);
    margin-left: 80px;
    margin-top: 50px;
}
 
 div#tribute-info {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Georgia;
    padding: 25px 25px;
    margin: 100px;
    margin-top: 50px;
}
 
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.footer{
    background-color: rgb(93, 94, 92);
    padding: 10px;
}

#tribute-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 28%;
 }